/* This file contains styling for the Portfolio page of the application. */
.portfolio{

    display: grid;
    transition: opacity 0.8s;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1150px) {
    
    .portfolio{

        display: grid;
        margin-top: 1em;
        grid-template-columns: 550px 550px;
        grid-gap: 2em;
        grid-template-rows: 525px;
        transition: opacity 0.8s;
    }
}

@media screen and (max-width: 560px) {
    
    .portfolio{
        
        display: flex;
        flex-flow: wrap;
        flex-shrink: 1;
        flex-direction: column;
    }
}