form label {

    text-align: left;
    display: block;
    font-size: 1.75em; 
}

input {

    width: 25em;
    height: 2em;
    border-radius: 2%;
    font-size: 1.2em;
    background-color: #F7A98D;
}

textarea {

    width: 25em;
    height: 6em;
    border-radius: 2%;
    font-size: 1.2em;
    font-family: "Playfair Display", "Montserrat", serif;
    background-color: #F7A98D;
}

.inputs {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.submit-button-div {

    display: flex;
    margin-top: 1em;
}

.actual-submit-button {

    font-size: 1.2em;
    font-weight: 600;
    background-color: #F7A98D;
    border: 1px solid black;
}



.input-section {

    width: fit-content;
    text-align: center;
    margin-bottom: 0.5em
}

#error-or-confirmation-message {

    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
}

@media screen and (max-width: 560px) {

    input, textarea {

        width: 17em
    }
}

@media screen and (max-width: 375px) {

    input, textarea {

        width: 16.5em;
        font-size: 1em
    }
}





