header{

    font-family: "Playfair Display", "Montserrat", serif;
    background-color: #BA274A;
    
    align-items: flex-start;
    margin-top: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;

  
}

ul {

    list-style-type: none;
    font-size: 1.75em;
    padding: 0
}

li{
    font-weight: bold;
}

h1 {
    font-size: 1.75em;
    text-align: center;
}





