header{

    font-family: "Playfair Display", "Montserrat", serif;
    background-color: #BA274A;
    
    align-items: flex-start;
    margin-top: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}



h1 {
    font-size: 1.75em;
    text-align: center;
}





