
/* This file contains CSS for the text that displays when hovering over each image on the Portfolio page. */
.text-section {

    text-align: center;
    z-index: 1
}

.text-element {
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 525;
}